// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
  text-align: center;

}
.header {
    padding: 30px 40px;
    color: #333333;
    text-align: center;
    margin-top: 20vh;
}
.nique {
  background-color: #AAAAAA;
  padding: 15px 30px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-bottom: 30px !important;
}
.nique:hover {
  background-color: #777777;
}
 .tasks {
  color: crimson;
  text-decoration: none;
  margin-top: 20px !important;
  font-weight: bold;
  font-size: 20px;
 }
.tasks:hover {
  color: #600F10;
}

.action {
  text-decoration: none;
  color: #CCCCCC;
  font-size: 14px;

}
.action:hover {
  color: #999999
}
